<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IFSR Course Management | Enrollment</title>
		<meta name="description" content="Course Enrollment of the IFSR TU Dresden. Software Technology Group, TU Dresden, 2014/2015">
		<meta name="author" content="SWT10/14">
		<!-- Normalize CSS v1.1.0 | MIT License | http://www.git.io/normalize -->
		<link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
		<!-- Google Fonts http://www.google.com/fonts -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300|Oswald|Roboto+Condensed:300italic,400,300' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS http://getbootstrap.com -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
		<!-- java script -->
		<!-- notification window after enrollment -->
		<noscript><p><br>Your browser currently does not support JavaScript! Please activate JavaScript to use this site properly.</p></noscript>
    </head>
    <body>
        <div class="container">
            <header id="mainHeader">
                <a class="headline" href="{% url 'cmanagement:index' %}">IFSR course enrollment</a>
                <a href ="https://www.ifsr.de/start"><img src="{{ STATIC_URL }}img/fsrlogo.png"></a>
            </header>

            <nav class="col-xs-12 col-md-2">
                <header class="subHeader">Courses</header>
                <div class="box">
                    {% if latest_courses_list %}
                        {% for course in latest_courses_list %}
                            <a href="{% url 'cmanagement:showAppointments' course.id %}">{{ course.name }}</a>
                        {% endfor %}
                    {%else%}
                        no courses available
                    {%endif%}
                </div>
            </nav>

            <section class="col-xs-12 col-md-10">
                <header class="subHeader">
                    <a href="{% url 'cmanagement:faq' %}">Questions?</a>
                    <a href="{% url 'cmanagement:teamcredits' %}">Team</a>
                </header>
                <div class="box">
                    {% if appointment_list %}
                        <p>Appointments for course: {{selected_course.name}}</p>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>day</th>
                                    <th>time</th>
                                    <th>location</th>
                                    <th>tutor</th>
                                    <th>attendance</th>
                                    <th>aditional information</th>
                                    <th>enroll</th>
                                </tr>
                                {% for app in appointment_list %}
                                    <tr>
                                        <td>{{app.weekday}}</td>
                                        <td>{{app.lesson}}</td>
                                        <td>{{app.location}}</td>
                                        <td>
                                            <ul>
                                                {% for tutor in app.my_tutors.all %}
                                                    {% if tutor.is_visible %}
                                                            <li>
                                                                <h6><a href="{% url 'cmanagement:newEmailFormPart' tutor.id %}" title="write a message to {{tutor.name_of_user}}">
                                                                {{ tutor.name_of_user }}
                                                                </a></h6>
                                                            </li>
                                                    {% endif %}
                                                {% endfor %}
                                             </ul>
                                        </td>
                                        <td>{{app.my_participants.all.count}}/{{app.attendance}}</td>
                                        <td><a href="{% url 'cmanagement:showAppInfo' app.id %}"><span class="glyphicon glyphicon-info-sign" title="additional information"></span></a></td>
                                        {% if app.my_participants.all.count < app.attendance %}
                                            <td><a href="{% url 'cmanagement:show_enroll' app.id %}"><span class="glyphicon glyphicon-ok-sign" title="enroll"></span></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
						</table>


                    {% else %}
						{% if selected_course %}
                            <p>Sorry, there are no appointments available yet for</p>
                            <p>{{selected_course.name}}</p>
                            <p>Please try again later.</p>
                        {% else %}
                            <p>Welcome to the enrollment page for programming courses by the IFSR of TU Dresden.</p>
                            <p>Please click on the course which you want to register for to see the available dates.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </section>

            <footer class="navbar navbar-fixed-bottom" role="navigation">
                <a href="https://twitter.com/@ifsr"><img src="{{ STATIC_URL }}img/twitter-wrap.png" width="30px" height="30px" alt="Twitter Logo"></a>
                <a href="https://www.facebook.com/iFSR.de"><img src="{{ STATIC_URL }}img/facebook-wrap.png" width="30px" height="30px" alt="Facebook Logo"></a>
            </footer>
        </div>

        <!-- jQuery (needed for Bootstrap JavaScript-Plugins) -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
