<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IFSR Course Management | mail</title>
		<meta name="description" content="Course Enrollment of the IFSR TU Dresden. Software Technology Group, TU Dresden, 2014/2015">
		<meta name="author" content="SWT10/14">
		<!-- Normalize CSS v1.1.0 | MIT License | http://www.git.io/normalize -->
		<link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
		<!-- Google Fonts http://www.google.com/fonts -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300|Oswald|Roboto+Condensed:300italic,400,300' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS http://getbootstrap.com -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
		<!-- java script -->
		<!-- notification window after enrollment -->

		<noscript><p><br>Your browser currently does not support JavaScript! Please activate JavaScript to use this site properly.</p></noscript>
  </head>

		<body>

		<div class = "container">

			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<h1><a href="{% url 'cmanagement:index' %}">IFSR course enrollment</a></h1>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<a href ="https://www.ifsr.de/start"><img src="{{ STATIC_URL }}img/fsrlogo.png" width="100px" height="100px"></a>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-head">

					</div>
				</div>
				<div class="col-sm-10 col-md-10 col-lg-10">
					<div id="content-head">

					</div>
				</div>
			</div>

			<!-- course list -->
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-content">

					</div>
				</div>
                <div class="col-sm-10 col-md-10 col-lg-10">
					<div id="content">
						<p>You have signed in sucessfully to<br><br></p>
                        <p>course: {{selected_appointment.myCourse.name}},  appointment: {{selected_appointment.weekday}}/{{selected_appointment.lesson}}/{{selected_appointment.location}}</p>
		 	 		</div>
				</div>

			</div>

		</div>
				
		<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="container">
	 			<a href="https://twitter.com/@ifsr"><img src="{{ STATIC_URL }}img/twitter-wrap.png" width="30px" height="30px" alt="Twitter Logo"></a>
	 			<a href="https://www.facebook.com/iFSR.de"><img src="{{ STATIC_URL }}img/facebook-wrap.png" width="30px" height="30px" alt="Facebook Logo"></a>

	 		</div>
		</div>

  	<!-- jQuery (needed for Bootstrap JavaScript-Plugins) -->
  	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		
	</body>

</html>
