<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IFSR Course Management | Tutor</title>
		<meta name="description" content="Course Enrollment of the IFSR TU Dresden. Software Technology Group, TU Dresden, 2014/2015">
		<meta name="author" content="SWT10/14">
		<!-- Normalize CSS v1.1.0 | MIT License | http://www.git.io/normalize -->
		<link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
		<!-- Google Fonts http://www.google.com/fonts -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300|Oswald|Roboto+Condensed:300italic,400,300' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS http://getbootstrap.com -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
		<!-- java script -->
		<!-- notification window after enrollment -->

		<noscript><p><br>Your browser currently does not support JavaScript! Please activate JavaScript to use this site properly.</p></noscript>
  </head>

		<body>

		<div class = "container">

			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<h1><a href="{% url 'cmanagement:exec' %}">IFSR course enrollment</a></h1>
				</div>
                <div class="col-sm-1 col-md-1 col-lg-1">
					<div class="edit">
						<a href="{% url 'cmanagement:resetPW' %}">Reset password</a>
					</div>
                </div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<a href ="https://www.ifsr.de/start"><img src="{{ STATIC_URL }}img/fsrlogo.png" width="100px" height="100px"></a>
				</div>

            </div>

			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-head">
						<small> Your Courses</small>
					</div>
				</div>
				<div class="col-sm-10 col-md-10 col-lg-10">
					<div id="content-head">
						<div class="logoutButton">
							<a href="{% url 'cmanagement:Logout' %}">Logout</a>
						</div>
					</div>
				</div>
			</div>
			<!-- course list -->
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-content">

                        {% if my_courses_list %}
                            <ul>
                                {% for course in my_courses_list %}
                                    <li style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 10em;"><a href="{% url 'cmanagement:showCourseAppointmentsTut' course.id%}">{{course.name}}</a></li>
                                {% endfor %}
                            </ul>
                        {%else%}
                        <ul class="nav nav-pills nav-stacked">
                                   <li> no courses available </li>
                        </ul>
                        {%endif%}

					</div>
				</div>
				<div class="col-sm-10 col-md-10 col-lg-10">
					<div id="content">
						{% if appointment_list %}
                            <p>Appointments for course: {{course.name}}</p>
                            <p>
                                <a href="{% url 'cmanagement:newMEmailFormTut' course.id %}">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    message whole course

                                </a>
                            </p>
                            <br>
                            <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>day</th>
                                    <th>time</th>
                                    <th>location</th>
                                    <th></th>
                                    <th>attendance</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                              {% for app in appointment_list %}
                                <tr>
                                    <td>{{app.weekday}}</td>
                                    <td>{{app.lesson}}</td>
                                    <td>{{app.location}}</td>
                                    <td>
                                        {% if app.my_tutors.all %}
                                        <ul>
                                            {% for tutor in app.my_tutors.all %}
                                                {% if not tutor.username == logged_in_user.username  and tutor.is_visible %}
                                                        <li><h6><a href="{% url 'cmanagement:newEmailFormTut' tutor.id %}" title="send a message to {{tutor.name_of_user}}">{{ tutor.name_of_user }}</a></h6></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        {%else%}
                                        <ul class="nav nav-pills nav-stacked">
                                               <li> no Tutors available </li>
                                        </ul>
                                        {%endif%}
                                    </td>
                                    <td>{{app.my_participants.all.count}}/{{app.attendance}}</td>
                                    <td><a href="{% url 'cmanagement:showAppointmentPartTut' app.id %}"><span class="glyphicon glyphicon-user" title="show participants"></span></a></td>
                                    <td><a href="{% url 'cmanagement:editAppointmentLocTut' app.id %}"><span class="glyphicon glyphicon-map-marker" title="change location"></span></a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                            </table>
                        {%endif%}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-head">
						<small>Other tutors</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2">
					<div class="small-content">
						<ul class="nav nav-pills nav-stacked">
							<!-- list of tutors e.g.:
           		<li><a href="message.html">Fredo Erxleben</a></a></li>
           		-->
                        {% if tutors_list %}

                            {% for user in tutors_list %}
                                <li>{{ user.name_of_user }} <a href="{% url 'cmanagement:newEmailFormTut' user.id %}"><span class="glyphicon glyphicon-envelope" title="message tutor"></span></a></li>
                            {% endfor %}
                        {%else%}
                                <li> no Tutors available </li>

                        {%endif%}
          	</ul>
					</div>
				</div>	
			</div>

			<!-- footer -->
			<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<div class="container">
	 				<a href="https://twitter.com/@ifsr"><img src="{{ STATIC_URL }}img/twitter-wrap.png" width="30px" height="30px" alt="Twitter Logo"></a>
	 				<a href="https://www.facebook.com/iFSR.de"><img src="{{ STATIC_URL }}img/facebook-wrap.png" width="30px" height="30px" alt="Facebook Logo"></a>

	 			</div>
			</div>

		</div>

  	<!-- jQuery (needed for Bootstrap JavaScript-Plugins) -->
  	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		
	</body>

</html>
